﻿@model Proyecto_Biblioteca.Models.CreatePublicationModel
@{
    
}

<div class="text-center">
  <h1 class="display-5">Create publication</h1>
   <br />
    @if (ViewBag.Message != null)
    {
        <div class="alert alert-success" role="alert">
            @ViewBag.Message
        </div>
    }
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <form method="post">
                    <div class="mb-3">
                        <label for="publicationSelect" class="form-label">Publication type</label>
                        <select id="publicationSelect" class="form-select" asp-for="PublicationType" aria-label="Publication type select">
                            <option selected value="1">Book</option>
                            <option value="2">Magazine</option>
                        </select>
                        <span asp-validation-for="PublicationType" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="titleInput" class="form-label">Title</label>
                        <input type="text" class="form-control" asp-for="Title" id="titleInput" aria-describedby="titleInput">
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="authorInput" class="form-label">Author</label>
                        <input type="text" class="form-control" asp-for="Author" id="authorInput" aria-describedby="authorInput">
                        <span asp-validation-for="Author" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="categoryInput" class="form-label">Category</label>
                        <input type="text" class="form-control" asp-for="Category" id="categoryInput" aria-describedby="categoryInput">
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                    <div class="mb-3 editorialField">
                        <label for="editorialInput" class="form-label">Editorial</label>
                        <input type="text" class="form-control" asp-for="Editorial" id="editorialInput" aria-describedby="editorialInput">
                        <span asp-validation-for="Editorial" class="text-danger"></span>
                    </div>
                    <div class="mb-3 periodicityField d-none">
                        <label for="periodicitySelect" class="form-label">Periodicity</label>
                        <select id="periodicitySelect" class="form-select" asp-for="Periodicity" aria-label="Periodicity type select">
                            <option selected>Select periodicity type</option>
                            <option value="Diary">Diary</option>
                            <option value="Weekly">Weekly</option>
                            <option value="Monthly">Monthly</option>
                        </select>
                        <span asp-validation-for="Periodicity" class="text-danger"></span>
                    </div>
                    <button type="submit" formaction=@Url.Action("OnPostCreatePublication") formmethod="post" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>