﻿@model Proyecto_Biblioteca.Models.PublicationViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Library publications</h1>
    <p class="mt-5"><b>Books List</b></p>

    <table class="table mt-5">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Editorial</th>
            <th>Identification</th>
        </tr>

        @if (Model.Books != null)
        {
            if (Model.Books.Any())
            {

                @foreach (Book book in Model.Books)
                {
                    <tr>
                        <td>@book.Id</td>
                        <td>@book.Title</td>
                        <td>@book.Author</td>
                        <td>@book.Category</td>
                        <td>@book.Editorial</td>
                        <td>@book.Identification</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">No Books created</td>
                </tr>
            }
        } 
        else
        {
            <tr>
                 <td colspan="6">No results</td>
            </tr>
        }
    </table>
    <br />
    <br />
    <p class="mt-5"><b>Magazines List</b></p>

    <table class="table mt-5">
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Category</th>
            <th>Periodicity</th>
            <th>Identification</th>
        </tr>
        @if (Model.Magazines != null)
        {
            if (Model.Magazines.Any())
            {
                @foreach (Magazine magazine in Model.Magazines)
                {
                    <tr>
                        <td>@magazine.Id</td>
                        <td>@magazine.Title</td>
                        <td>@magazine.Author</td>
                        <td>@magazine.Category</td>
                        <td>@magazine.Periodicity</td>
                        <td>@magazine.Identification</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="6">No Magazines created</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6">No results</td>
            </tr>
        }
    </table>
</div>
